{% extends "vocabularynlv2.j2" %}

{% block summary %}
<p>
Het proefenmeting vocabularium focust op de beschrijving van termen die specifiek zijn voor proeven en metingen die beschreven worden in de verschillende standaardbestekken 250, 260 en 270. Deze proeven en metingen worden uitgevoerd op <a href="https://wegenenverkeer.data.vlaanderen.be/ns/onderdeel"> onderdelen</a> en <a href="https://wegenenverkeer.data.vlaanderen.be/ns/installatie">installaties</a>.
</p>
<p>
Dit vocabularium is aanvullend op de termen die gedefinieerd staan in de volgende verwante vocabularia:
<ul>
<li>De basiscomponenten/onderdelen waaruit de (weg)infrastructuur is opgebouwd worden beschreven in het <a href="https://wegenenverkeer.data.vlaanderen.be/ns/onderdeel">vocabularium onderdeel</a>.</li>
<li>Installaties of thematische/functionele groeperingen van de onderdelen worden beschreven in het <a href="https://wegenenverkeer.data.vlaanderen.be/ns/installatie">vocabularium installatie</a>.</li>
<li>Aanvullende termen op onderdeel en installatie worden gedefinieerd in het <a href="https://wegenenverkeer.data.vlaanderen.be/ns/abstracten">vocabularium abstracten</a> dat een onlosmakelijk deel uitmaakt van deze vocabularia.</li>
</ul>
Vanuit het onderdeel, installatie en abstracten vocabularium kan de samenhang met proefenmeting gevonden worden door de specialisaties te volgen.
</p>
{% endblock %}

{% block status %}<p>Een lijst van de recentste vocabularia is terug te vinden op
<a href="https://wegenenverkeer.data.vlaanderen.be/ns">https://wegenenverkeer.data.vlaanderen.be/ns</a>.</p><br />

<p>Dit document is een offici&#235;le specificatie van een vocabularium en biedt een gedeeld begrippenkader voor bepaalde concepten. Deze specificatie dient om de definitie, gebruik, domein en bereik van de RDF termen binnen dit domein te verduidelijken. De termen gedefinieerd in dit vocabularium zijn persistent en zullen bijgevolg nooit verdwijnen, noch zullen de definities veranderen behalve dan om een bestaande definitie verder te verduidelijken. Termen kunnen echter wel als verouderd worden bestempeld en vervangen worden in nieuwere versies van deze specificatie.</p>

<p>Dit document werd gepubliceerd door de werkgroep Datastandaarden OSLO van het stuurorgaan Vlaams Informatie- en ICT-beleid.
Deze specificatie maakt geen onderdeel uit van een standaardisatietraject. De termen die opgenomen zijn in het OSLO-Generiek vocabularium werden bediscussieerd en erkend in andere OSLO thematische werkgroepen en vervolgens opgenomen in dit vocabularium wegens hun generiek herbruikbaar karakter.</p>

<p>Feedback op deze specificatie kan gegeven worden als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">publieke reviewdiscussielijst</a>.</p>
{% endblock %}
