{% extends "voc2.j2" %}

{% block summary %}
<p>
Het abstracten vocabularium focust op de beschrijving van aanvullende eigenschappen en relaties die horen bij het <a href="https://wegenenverkeer.data.vlaanderen.be/ns/onderdeel">onderdeel vocabularium</a> en het <a href="https://wegenenverkeer.data.vlaanderen.be/ns/installatie">installatie vocabularium</a>. De klasses die hierin gedefinieerd worden zijn niet instantieerbaar maar bestaan enkel vanuit technisch oogpunt om gemeenschappelijke eigenschappen en relaties te bundelen.<br>

</p><p>
Dit vocabularium wordt dus steeds in de context van de volgende verwante vocabularia gezien:
<ul>
<li>Het <a href="https://wegenenverkeer.data.vlaanderen.be/ns/onderdeel">vocabularium onderdeel</a></li>
<li>Het <a href="https://wegenenverkeer.data.vlaanderen.be/ns/installatie">vocabularium installatie</a></li>
</ul>
</p>

{% endblock %}

{% block status %}
<p>Een lijst van de recentste vocabularia is terug te vinden op <a href="https://wegenenverkeer.data.vlaanderen.be/">https://wegenenverkeer.data.vlaanderen.be/</a> en op <a href="https://data.vlaanderen.be/ns">https://data.vlaanderen.be/ns</a>.
</p>
<p>
Dit document is een officiële specificatie van een vocabularium en biedt een gedeeld begrippenkader voor bepaalde concepten. Deze specificatie dient om de definitie, gebruik, domein en bereik van de RDF termen binnen dit domein te verduidelijken. De termen gedefinieerd in dit vocabularium zijn persistent en zullen bijgevolg nooit verdwijnen, noch zullen de definities veranderen behalve dan om een bestaande definitie verder te verduidelijken. Termen kunnen echter wel als verouderd worden bestempeld en vervangen worden in nieuwere versies van deze specificatie.
</p>
<p>Dit document werd gepubliceerd door de werkgroep OTL van het Agentschap Wegen en Verkeer. Vanuit het wegenenverkeer-vocabularium zal een OSLO standaard ontwikkeld worden die een maximaal hergebruik van gedefinieerde concepten zal toelaten.
<br>De eventuele overeenkomst met de objectcatalogus OSLO-openbaar domein wordt beschreven in de <a href="https://data.vlaanderen.be/cms/openbaardomein/AWV_mapping.html">mapping OD-OTL</a></p>
{% endblock %}






