{% extends "voc2.j2" %}

{% block summary %}
<p>
Het implementatieelement vocabularium focust op de beschrijving van data-technische objecten die specifiek zijn voor data-aanlevering. Het beschrijft welke gegevens aanvullend aangeleverd moeten worden bij de wegen en verkeer <a href="https://wegenenverkeer-test.data.vlaanderen.be/ns/onderdeel"> onderdelen</a> en <a href="https://wegenenverkeer-test.data.vlaanderen.be/ns/installatie">installaties</a> om de datastroom te ondersteunen.
</p><p>
Dit vocabularium beschrijft termen zoals:
<ul>
<li>asset-id</li>
<li>status</li>
<li>toestand</li>
<li>...</li>
</ul>
</p>
<p>
Dit vocabularium is aanvullend op de termen die gedefinieerd staan in de volgende verwante vocabularia:
<ul>
<li>De basiscomponenten/onderdelen waaruit de (weg)infrastructuur is opgebouwd worden beschreven in het <a href="https://wegenenverkeer-test.data.vlaanderen.be/ns/onderdeel">vocabularium onderdeel</a>.</li>
<li>Installaties of thematische/functionele groeperingen van de onderdelen worden beschreven in het <a href="https://wegenenverkeer-test.data.vlaanderen.be/ns/installatie">vocabularium installatie</a>.</li>
<li>Aanvullende termen op onderdeel en installatie worden gedefinieerd in het <a href="https://wegenenverkeer-test.data.vlaanderen.be/ns/abstracten">vocabularium abstracten</a> dat een onlosmakelijk deel uitmaakt van deze vocabularia.</li>
</ul>
Vanuit het onderdeel, installatie en abstracten vocabularium kan de samenhang met implementatieelement gevonden worden door de specialisaties te volgen.
</p>
{% endblock %}

{% block status %}
<p>Een lijst van de recentste vocabularia is terug te vinden op <a href="https://wegenenverkeer-test.data.vlaanderen.be/">https://wegenenverkeer-test.data.vlaanderen.be/</a> en op <a href="https://data.vlaanderen.be/ns">https://data.vlaanderen.be/ns</a>.
</p>
<p>
Dit document is een officiële specificatie van een vocabularium en biedt een gedeeld begrippenkader voor bepaalde concepten. Deze specificatie dient om de definitie, gebruik, domein en bereik van de RDF termen binnen dit domein te verduidelijken. De termen gedefinieerd in dit vocabularium zijn persistent en zullen bijgevolg nooit verdwijnen, noch zullen de definities veranderen behalve dan om een bestaande definitie verder te verduidelijken. Termen kunnen echter wel als verouderd worden bestempeld en vervangen worden in nieuwere versies van deze specificatie.
</p>
<p>Dit document werd gepubliceerd door de werkgroep OTL van het Agentschap Wegen en Verkeer. Vanuit het wegenenverkeer-vocabularium zal een OSLO standaard ontwikkeld worden die een maximaal hergebruik van gedefinieerde concepten zal toelaten.
<br>De eventuele overeenkomst met de objectcatalogus OSLO-openbaar domein wordt beschreven in de <a href="https://test.data.vlaanderen.be/cms/openbaardomein/AWV_mapping.html">mapping OD-OTL</a></p>
{% endblock %}


