{% extends "voc2.j2" %}

{% block summary %}
<p>
Het installatie vocabularium focust op de beschrijving van installaties die voorkomen bij infrastructuur. Een installatie is een verzameling van een aantal <a href="https://wegenenverkeer.data.dev-vlaanderen.be/ns/onderdeel"> onderdelen</a> en/of andere installaties. Deze verzameling kan gebeuren indien er nood is aan informatie die enkel op het installatieniveau van toepassing is.
</p>
<p>
Voorbeelden van een installatie zijn:
<ul>
<li>Trajectcontrole</li>
<li>Slagboom</li>
<li>Rioleringstelsel</li>
<li>...</li>
</ul>
</p>
<p>
Dit vocabularium wordt verder uitgebreid met termen die gedefinieerd staan in de volgende verwante vocabularia:
<ul>
<li>Aanvullende termen worden gedefinieerd in het <a href="https://wegenenverkeer.data.dev-vlaanderen.be/ns/abstracten">Vocabularium abstracten</a> dat een onlosmakelijk deel uitmaakt van dit vocabularium. De combinatie van deze beide vocabularia beschrijft de volledige catalogus van installaties. De samenhang kan gevonden worden door de specialisaties te volgen tussen beide vocabularia.</li>
<li>De basiscomponenten/onderdelen waaruit de (weg)infrastructuur is opgebouwd worden beschreven in het <a href="https://wegenenverkeer.data.dev-vlaanderen.be/ns/onderdeel">vocabularium onderdeel</a></li>
</ul>
</p>

{% endblock %}

{% block status %}
<p>Een lijst van de recentste vocabularia is terug te vinden op <a href="https://wegenenverkeer.data.dev-vlaanderen.be/">https://wegenenverkeer.data.dev-vlaanderen.be/</a> en op <a href="https://data.vlaanderen.be/ns">https://data.vlaanderen.be/ns</a>.
</p>
<p>
Dit document is een officiële specificatie van een vocabularium en biedt een gedeeld begrippenkader voor bepaalde concepten. Deze specificatie dient om de definitie, gebruik, domein en bereik van de RDF termen binnen dit domein te verduidelijken. De termen gedefinieerd in dit vocabularium zijn persistent en zullen bijgevolg nooit verdwijnen, noch zullen de definities veranderen behalve dan om een bestaande definitie verder te verduidelijken. Termen kunnen echter wel als verouderd worden bestempeld en vervangen worden in nieuwere versies van deze specificatie.
</p>
<p>Dit document werd gepubliceerd door de werkgroep OTL van het Agentschap Wegen en Verkeer. Vanuit het wegenenverkeer-vocabularium zal een OSLO standaard ontwikkeld worden die een maximaal hergebruik van gedefinieerde concepten zal toelaten.
<br>De eventuele overeenkomst met de objectcatalogus OSLO-openbaar domein wordt beschreven in de <a href="https://test.data.vlaanderen.be/cms/openbaardomein/AWV_mapping.html">mapping OD-OTL</a></p>
{% endblock %}






