{% extends "voc2.j2" %}

{% block summary %}
<p>
Het installatie vocabularium focust op de beschrijving van installaties of groeperingen die voorkomen bij (weg)infrastructuur. Een installatie is een samenvoeging of groepering van een een aantal <a href="https://wegenenverkeer.data.vlaanderen.be/ns/onderdeel">fysieke onderdelen</a> en/of andere installaties. Deze groepering kan gebeuren op basis van een gemeenschappelijk thema of functie en creëert een overzicht op de grote hoeveelheid onderdelen die op bij een (weg)infrastructuur horen.
</p><p>
Voorbeelden van een installatie zijn:
<ul>
<li>Technische installaties waarbij alle onderdelen die er deel van uitmaken gegroepeerd worden zoals bv. een camerainstallatie of een verkeersregelinstallatie</li>
<li>Logische groeperingen vanuit een bepaalde invalshoek zoals bv. de logische objectenboom voor tunnels.</li>
<li>Thematische groeperingen zoals bv. een groep van alle overlangse wegmarkeringen.</li>
<li>Groepering van bouwkundige onderdelen tot grotere constructieblokken zoals bv. een tunnelelement.</li>
<li>...</li>
</ul>
</p>
<p>
Dit vocabularium wordt verder uitgebreid met termen die gedefinieerd staan in de volgende verwante vocabularia:
<ul>
<li>Aanvullende termen worden gedefinieerd in het <a href="https://wegenenverkeer.data.vlaanderen.be/ns/abstracten">vocabularium abstracten</a> dat een onlosmakelijk deel uitmaakt van dit vocabularium. De combinatie van deze beide vocabularia beschrijft de volledige catalogus van installaties. De samenhang kan gevonden worden door de specialisaties te volgen tussen beide vocabularia.</li>
<li>De basiscomponenten/onderdelen waaruit de (weg)infrastructuur is opgebouwd worden beschreven in het <a href="https://wegenenverkeer.data.vlaanderen.be/ns/onderdeel">vocabularium onderdeel</a>.</li>
</ul>
</p>
{% endblock %}

{% block status %}
<p>Een lijst van de recentste vocabularia is terug te vinden op <a href="https://wegenenverkeer.data.vlaanderen.be/">https://wegenenverkeer.data.vlaanderen.be/</a> en op <a href="https://data.vlaanderen.be/ns">https://data.vlaanderen.be/ns</a>.
</p>
<p>
Dit document is een officiële specificatie van een vocabularium en biedt een gedeeld begrippenkader voor bepaalde concepten. Deze specificatie dient om de definitie, gebruik, domein en bereik van de RDF termen binnen dit domein te verduidelijken. De termen gedefinieerd in dit vocabularium zijn persistent en zullen bijgevolg nooit verdwijnen, noch zullen de definities veranderen behalve dan om een bestaande definitie verder te verduidelijken. Termen kunnen echter wel als verouderd worden bestempeld en vervangen worden in nieuwere versies van deze specificatie.
</p>
<p>Dit document werd gepubliceerd door de werkgroep OTL van het Agentschap Wegen en Verkeer. Vanuit het wegenenverkeer-vocabularium zal een OSLO standaard ontwikkeld worden die een maximaal hergebruik van gedefinieerde concepten zal toelaten.
<br>De eventuele overeenkomst met de objectcatalogus OSLO-openbaar domein wordt beschreven in de <a href="https://test.data.vlaanderen.be/cms/openbaardomein/AWV_mapping.html">mapping OD-OTL</a></p>
{% endblock %}
