{% extends "voc2.j2" %}

{% block summary %}
<p>
Het onderdeel vocabularium focust op de beschrijving van onderdelen die voorkomen bij (weg)infrastructuur. Een onderdeel is een fysiek object dat deel uitmaakt van de wegopbouw,  wegaanhorigheden of infrastructuur in brede zin. Een onderdeel is een uniek identificeerbare component of bouwsteen waaruit de (weg)infrastructuur  is opgebouwd.
</p><p>
De onderdelen zijn op te delen in 3 hoofdgroepen:
<ul>
<li>Standaardbestek 250</li>
<li>Standaardbestek 260</li>
<li>Standaardbestek 270</li>
</ul>
</p><p>
<b>Standaardbestek 250</b><br>
In deze groep worden de onderdelen opgenomen die beschreven worden in de verschillende hoofdstukken van het standaardbestek 250.<br>
Het gaat hierbij om fysieke objecten die o.a. gebruikt worden bij:
<ul>
<li>De verticale wegopbouw</li>
<li>Grondwerken en bijhorende lagenstructuur</li>
<li>Lijnvormige elementen zoals bv. kantopsluiting en afschermende constructie</li>
<li>Signalisatie zoals bv. wegmarkeringen, verkeersborden</li>
<li>Riolering</li>
<li>Groenaanleg en beheer</li>
<li>Waterlopen en de oevers</li>
</ul>
</p>
<b>Standaardbestek 260</b><br>
In deze groep worden de onderdelen opgenomen die deel uitmaken van de bouwkundige structuur van kunstwerken zoals bruggen, tunnels, sluizen, ....<br>
Het gaat hierbij om fysieke objecten die o.a. gebruikt worden bij:
<ul>
<li>Funderingen</li>
<li>Wanden</li>
<li>Platen</li>
<li>Metalen constructies</li>
<li>Dragers</li>
<li>Liggers</li>
<li>...</li>
</ul>
In de eerste versie van het onderdeel vocabularium zijn deze onderdelen nog niet opgenomen, deze zullen gradueel toegevoegd worden aan het vocabularium.
</p>
<b>Standaardbestek 270</b><br>
In deze groep worden de onderdelen opgenomen die deel uitmaken van de elektro-mechanische uitrusting van de (weg)infrastructuur.<br>
Het gaat hierbij om fysieke objecten die o.a. gebruikt worden bij:
<ul>
<li>Tunneluitrusting</li>
<li>(Weg)verlichtingsinstallaties</li>
<li>Verkeersregelinstallaties</li>
<li>Verkeershandhavingssystemen zoals bv. camera's, dynamische borden, snelheidscamera's, ...</li>
<li>Watergebonden EM-installaties</li>
<li>...</li>
</ul>
</p>
<p>
Dit vocabularium wordt verder uitgebreid met termen die gedefinieerd staan in de volgende verwante vocabularia:
<ul>
<li>Aanvullende termen worden gedefinieerd in het <a href="https://wegenenverkeer.data.dev-vlaanderen.be/ns/abstracten">Vocabularium abstracten</a> dat een onlosmakelijk deel uitmaakt van dit vocabularium. De combinatie van deze beide vocabularia beschrijft de volledige catalogus van onderdelen. De samenhang kan gevonden worden door de specialisaties te volgen tussen beide vocabularia.</li>
<li>Installaties of thematische/functionele groeperingen van de onderdelen worden beschreven in het <a href="https://wegenenverkeer.data.dev-vlaanderen.be/ns/installatie">vocabularium installatie</a></li>
</ul>
</p>

{% endblock %}

{% block status %}
<p>Een lijst van de recentste vocabularia is terug te vinden op <a href="https://wegenenverkeer.data.dev-vlaanderen.be/">https://wegenenverkeer.data.dev-vlaanderen.be/</a> en op <a href="https://data.vlaanderen.be/ns">https://data.vlaanderen.be/ns</a>.
</p>
<p>
Dit document is een officiÃƒÂ«le specificatie van een vocabularium en biedt een gedeeld begrippenkader voor bepaalde concepten. Deze specificatie dient om de definitie, gebruik, domein en bereik van de RDF termen binnen dit domein te verduidelijken. De termen gedefinieerd in dit vocabularium zijn persistent en zullen bijgevolg nooit verdwijnen, noch zullen de definities veranderen behalve dan om een bestaande definitie verder te verduidelijken. Termen kunnen echter wel als verouderd worden bestempeld en vervangen worden in nieuwere versies van deze specificatie.
</p>
<p>Dit document werd gepubliceerd door de werkgroep OTL van het Agentschap Wegen en Verkeer. Vanuit het wegenenverkeer-vocabularium zal een OSLO standaard ontwikkeld worden die een maximaal hergebruik van gedefinieerde concepten zal toelaten.
<br>De eventuele overeenkomst met de objectcatalogus OSLO-openbaar domein wordt beschreven in de <a href="https://test.data.vlaanderen.be/cms/openbaardomein/AWV_mapping.html">mapping OD-OTL</a></p>
{% endblock %}








